<div class="container">
<br/>
<h2  class="text-center">Créer un évènement</h2>

<%= form_for(@event) do |f| %>

   <div class="field">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_date, autofocus:true,class: "form-control" %>
  </div>

   <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration, step: 5, autofocus:true,class: "form-control" %>
  </div>

   <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, autofocus:true,class: "form-control" %>
  </div>

   <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, autofocus:true,class: "form-control" %>
  </div>

   <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price, in: 1..1000, autofocus:true,class: "form-control" %>
  </div>

   <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, autofocus:true,class: "form-control" %>
  </div>
  <div class="container text-center">
<%= f.submit "Create", class: "btn btn-primary mt-5 btn-lg " %>
</div>
<% end %>
</div>